<div class="card p-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-title">
                    <h1>{{title}}</h1>
                </div>
                <div class="card-body">
                    <p>{{text}}</p>
                </div>
                <div class="card-footer">
                    <button class="delete-event-btn btn btn-danger" data-id="{{id}}">Delete Blog</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/blogHandler.js"></script>